[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=yourusername
Group=www-data
WorkingDirectory=/app/srcs
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:/app/srcs/backendmicro/backendmicro/backendmicro.sock backendmicro.backendmicro.backendmicro.wsgi:application
Environment="PYTHONPATH=${PYTHONPATH}"

[Install]
WantedBy=multi-user.target
